<!DOCTYPE HTML>
<html lang="en" xmlns:og="http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <title><%= @item[:title] %> - SALAD2013</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link href='http://fonts.googleapis.com/css?family=Domine:400,700' rel='stylesheet'>
    <meta name="viewport" content="width=device-width,maximum-scale=1">
    <meta property="og:image" content="http://salad2013.linkedservices.org/images/lettuce.jpg"/>
  </head>
  <body class="<%= @item[:class] %>">
    <header>
      <hgroup>
        <h1><a href="/">SALAD2013</a></h1>
        <h2>
          ESWC2013 workshop
          <br>
          May 26, 2013
        </h2>
        <h3>Services and Applications over Linked APIs and Data</h3>
      </hgroup>
    </header>
    <nav>
      <ul>
        <% @items.find_all{|c| c[:extension] =~ /^md/}.
                  sort{|a,b| a[:filename] <=> b[:filename]}.
                  sort{|a,b| (a[:order] || 10) <=> (b[:order] || 10)}.
                  each do |page| %>
          <li<%= @item == page ? ' class="active"' : '' %>><%= link_to(page[:title], page.reps[0]) %></li>
        <% end %>
      </ul>
    </nav>
    <div id="main">
      <h1><%= @item[:header] || @item[:title] %></h1>
      <%= yield %>
    </div>
    <footer>
      <p>
        &copy;2012–2013 the SALAD2013 organizing committee
      </p>
    </footer>
    <div id="background">
      <div id="decoration">&nbsp;</div>
    </div>
  </body>
</html>
