@import "html5reset";

@green: #588f15;
@red: #d10012;

@side-margin: 20px;

html {
  margin: 10px;
}

body {
  font-family: 'Domine', serif;
  font-size: 11pt;
  line-height: 1.8em;
  max-width: 800px;
  margin: 10px auto;
}

a {
  color: @green;

  &:hover {
    color: @red;
  }
}

em {
  font-style: normal;
  font-weight: bold;
  color: @green;
}

strong {
  color: @red;
}

hr {
  border: none;
  &:before {
    margin: .4em 0 .2em;
    content: "~~~~~";
    display: block;
    text-align: center;
    font-size: 5em;
    line-height: 0;
    color: @green;
  }
  &:hover:before {
    color: @red;
  }
}

header {
  margin: 2em 0 1em;
  padding: 1em @side-margin 0;
  border-top: 4px solid;
  color: @green;

  h1 {
    font-size: 4em;
    float: left;
    margin-right: 8px;
    line-height: .9;
    letter-spacing: 1px;
  }
  h2 {
    color: @red;
    font-size: 1.2em;
    font-weight: normal;
    padding-top: .1em;
    line-height: 1.4;
  }
  h3 {
    font-size: 1.45em;
    clear: left;
    line-height: 1;
  }
  a {
    text-decoration: none;
  }
}

nav {
  margin: 1em 0 2em;
  padding: .6em @side-margin .3em;
  border-top: 2px solid @green;
  border-bottom: 3px solid @green;
  color: @green;

  li {
    display: inline;
    font-size: 1.5em;
    font-variant: small-caps;

    &:after {
      content: "◆";
      margin: 0 32px;
    }

    &:last-child:after {
      content: "";
    }

    a {
      text-decoration: none;
    }
    &.active a {
      border-bottom: 1px solid;
      &:before, &:after {
      }
    }
  }
}

#main {
  padding: 0 @side-margin;
  min-height: 650px;

  h1 {
    font-size: 2em;
    color: @green;
    letter-spacing: -1px;
    margin: 1.5em 0 .5em;

    &:before, &:after {
      content: " ~ ";
    }
  }

  h2 {
    font-size: 1.5em;
    color: @red;
  }

  p {
    margin-bottom: 1em;
  }

  ol, ul {
    margin: 0 0 1em @side-margin;
  }

  ul {
    li {
      list-style: none;

      &:before {
        content: "●";
        color: @green;
        position: absolute;
        margin-left: -20px;
      }
    }
  }
}

footer {
  margin: 2em 0 2em;
  padding: .5em @side-margin;
  border-top: 2px solid @green;
  border-bottom: 3px solid @green;
  color: @green;
}

#background {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

#decoration {
  display: block;
  width: 1px;
  margin: 0 auto;

  &:before {
    display: block;
    content: " ";
    background: url(/images/lettuce.jpg) no-repeat;
    width: 1390px;
    height: 1390px;
    margin-left: -1670px;
  }

  &:after {
    display: block;
    content: " ";
    background: url(/images/tomatoes.jpg) no-repeat;
    width: 489px;
    height: 300px;
    margin: -800px 0 0 320px;
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
  }
}
